@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2'),
        url('./fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('./fonts/Canela-Medium.woff2') format('woff2'),
        url('./fonts/Canela-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.woff2') format('woff2'),
        url('./fonts/Inter-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 10px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    background-color: #090F1D;
    font-family: Inter;
}
main{
    flex: 1;
}

/* header */
.header{
    padding: 28px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #090F1D;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
}
.header_wrapper{
    display: flex;
    align-items: center;
}
.header_list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header_list-item a{
    color:  rgba(255, 255, 253, 0.72);
    line-height: 160%;
    border-bottom: 1px solid transparent;
    text-transform: capitalize;
    transition: all 0.5s;
}
.active a{
    border-bottom: 1px solid #D6EF0E; 
    color: #fff; 
}
.header_list-item a:hover{
    border-bottom: 1px solid #D6EF0E;
    color: #fff;
}
.main-btn{
    padding: 12px 40px;
    color: #FFF;
    font-weight: 700;
    line-height: 120%;
    border-radius: 8px;
    background: #D6EF0E;
    text-transform: capitalize;
    border: none;
    margin-left: auto;
}
/* main-section */
.main-section{
    padding: 207px 0;
}

.main-section_wrapper{
    display: flex;
    justify-content: space-between;
}
.main-section_item1{
    width: 504px;
}

.main-section_item1-heading{
    color: #FFFFFD;
    font-family: Canela;
    font-size: 64px;
    font-weight: 500;
    line-height: 120%; 
    margin-bottom: 20px;
}
.yellow-text{
    color: #D6EF0E;
    font-family: Canela;
}
.main-section_itme1-text{
    color: #FFFFFD;
    line-height: 160%;
    margin-bottom: 40px;
}
.main-section_item1-link{
    color:  #FFFFFD;
    font-weight: 700;
    line-height: 120%;
    vertical-align: middle;
    text-transform: capitalize;
    margin-left: 36px;
}
/* statistics */
.main-section_statistics{
    display: flex;
    gap: 94px;
}
.main-statistics_item{
    width: 128px;
    padding-right: 28px;
    border-right: 1px solid #D6EF0E;
    margin-top: 72px;
}
.main-statistics_item:nth-child(3){
    border: none;
}
.main-statistics-title{
    color:  #FFFFFD;
    font-family: Canela;
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
}
.main-statistics_text{
    color:#FFFFFD;
    line-height: 160%;
    text-transform: capitalize;
}


.main-section_item2{
    position: relative;
    padding-right: 80px;
}
.item2_card{
    width: 305px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #131E3A;
    border-radius: 16px;
    border-top: 1px solid #D6EF0E;
    background: #131E3A;
    box-shadow: 0px 9px 50px 0px rgba(23, 36, 65, 0.04);
    position: absolute;
    right: 0;
    bottom: 0;
}
.item2_title{
    color: #D6EF0E;
    line-height: 160%;
    margin-bottom: 8px;
}
.item2_text{
    color: #FFFFFD;
    font-weight: 700;
    line-height: 120%; 
}
.item2_card-btn{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #D6EF0E;
    color: #D6EF0E;
    font-weight: 700;
    line-height: 120%;
    padding: 12px 40px;
    background-color: transparent;
    margin-top: 24px;
    text-transform: capitalize;
}
/* news */
.news{
    padding: 92px 0 ;
}
.news_item{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 64px;
}
.news_title{
    color: #FFFFFD;
    font-family: Canela;
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
    width: 506px;
}
.news_wrapper{
    display: flex;
    gap: 30px; 
}
.news_card{
    border-radius: 28px;
    border-top: 1px solid #D6EF0E;
    background: #131E3A;
    width: 410px;
    padding: 20px;
}
.news_card-image{
    margin-bottom: 24px;
}
.news_card div{
    display: flex;
    justify-content: space-between;
}
.news_card-title{
    color:  #FFFFFD;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; 
}
.news_card-number{
    color: #FFFFFD;
    font-weight: 700;
    line-height: 120%;
}
.news_card-number img{
    vertical-align: middle;
}
.news_card-text{
    color: #838382;
    font-size: 14px;
    line-height: 160%;
}
.news_card-clock{
    color:  #FFFFFD;
    font-weight: 700;
    line-height: 120%; 
}
.news_card-clock img{
    vertical-align: middle;
}
.news_card-btn{
    border-radius: 8px;
    border: 1px solid #D6EF0E;
    font-weight: 700;
    line-height: 120%;
    padding: 0 40px;
    background-color: transparent;
    text-transform: capitalize;
    color: #D6EF0E;
    font-size: 16px;
}
/* sell */
.sell{
    padding: 92px 0;
}
.sell_wrapper{
    display: flex;
    gap: 124px;
    align-items: center;
}
.sell_item1{
    width: 426px;
}
.sell_title{
    color: #FFFFFD;
    font-family: Canela;
    font-size: 48px;
    font-weight: 500;
    line-height: 120%; 
    margin-bottom: 20px;
}
.sell_text{
    color: #FFFFFD;
    line-height: 160%;
    margin-bottom: 40px;
}
.sell_item2{
    width: 740px;
    height: 559px;
    position: relative;
}
.sell_img1{
    position: absolute;
    right: 0;
    top: 0;
}
.sell_img2{
    position: absolute;
    left: 0;
    bottom: 30px;
}

/* popular */
.popular{
    padding: 92px 0;
}
.popular_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}
.card_wrapper{
    display: flex;
    gap: 30px;
}
.popular_card{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 18px;
}
.popular_card img{
    transition: all 0.8s;
}
.popular_card img:hover{
    transform: scale(1.09);
    overflow: hidden;
}
.popular_card-item>img{
    border-radius: 50%;
}
.popular_card-item{
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 40px;
    left: 24px;
    bottom: 24px;
}
.popular_card-subtitle{
    color: #FFFFFD;
    font-size: 14px;
    line-height: 160%; 
    text-transform: capitalize;
}
.popular_card-title a{
    color: #FFFFFD;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}
.popular_card-wrapper{
    display: flex;
    gap: 30px;
}

/* subscribe */
.subscribe_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 0;
}
.subscribe_item{
    width: 520px;
}
.form{
    display: flex;
}
.email_form{
    border-radius: 8px;
    background: #131E3A;
    padding: 10px 24px;
    border: none;
    outline: none;
    color:  rgba(255, 255, 253, 0.72);
    line-height: 160%;
    width: 100%;
}
.email_form~button{
    margin-left: -14px;
}

/* footer */
.footer{
    padding: 92px 0;
}
.footer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #838382;
    padding-bottom: 48px;
}
.footer_item1{
    width: 272px;
}
.footer_item1 img{
    margin-right: 12px;
}
.footer_text{
    color: #FFFFFD;
    line-height: 160%;
    margin-bottom: 24px;
}
.footer_item2{
    display: flex;
    gap: 94px;
}
.footer_list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer_list-item a{
    color:  #FFFFFD;
    line-height: 160%; 
    text-transform: capitalize;
}
.footer_list-item:first-child{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; 
    margin-bottom: 24px;
}
.lisense{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}
.lisense_text{
    color: #FFFFFD;
    font-family: Inter;
    line-height: 160%; 
}
.lisense div{
    display: flex;
    gap: 28px;
}
.lisense a{
    color: #FFFFFD;
    line-height: 160%; /* 25.6px */
}